 body {
     background-color: rgb(33, 25, 25);
     color: white;
     font-family: Arial, Helvetica, sans-serif;
 }

 .container {
     display: flex;
     flex-direction: column;
     background-color: rgb(34, 31, 31);
     text-align: center;
     border: 2px blue solid;
     border-left: 2px orange solid;
     border-top: 2px orange solid;
     box-shadow: 2px 2px 3px orange, -2px -2px 3px blue;
     padding: 5px;

 }

 @media only screen and(min-width:380px) {
     .container {
         display: contents;
         background-color: rgb(34, 31, 31);
         text-align: center;
         border: 2px blue solid;
         border-left: 2px orange solid;
         border-top: 2px orange solid;
         box-shadow: 2px 2px 3px orange, -2px -2px 3px blue;
         padding: 2px;

     }

 }

 .display-information {
     display: flex;
     flex-direction: column;
     align-items: center;

 }


 .title {
     font-size: 35px;
     font-weight: bold;
     ;
 }



 .move-icon {
     height: 50px;
     background: transparent;
 }



 .move-button {
     background-color: transparent;
     border: 3px solid rgb(173, 67, 67);
     height: 90px;
     width: 90px;
     border-radius: 60px;
     margin: 8px;
     cursor: pointer;
 }

 .result {
     font-size: 45px;
     font-weight: bold;
     margin-top: 20px;

 }

 .score {
     margin-top: 30px;
 }

 .reset-score-button {
     background-color: white;
     border: none;
     font-size: 15px;
     padding: 6px 10px;
     cursor: pointer;
     width: 150px;
 }